.projects__wrapper {
    padding-top: 5em;
    padding-bottom: 5em;
    padding-right: 6vw;
    padding-left: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects__list {
    width: 100%;
    padding-top: 5em;
    gap: 8em;
    display: flex;
    flex-direction: column;
}

.projects__motion {
    max-width: 1100px;
    width: 100%;
}