.about__wrapper {

    padding-top: 5em;
    padding-bottom: 5em;
    padding-right: 6vw;
    padding-left: 6vw;
    display: flex;
    justify-content: center;
}

.about__container {
    width: 100%;
    max-width: 1100px;
    gap: 2em;
    display: flex;
    flex-direction: column;
}

.about__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    flex-wrap: wrap-reverse;
}

.headshot__container {
    width: 300px;
    min-width: 280px;
    max-width: 80%;
}

.headshot__container img {
    border-radius: 5px;
}

.about__text {
    max-width: 700px;
    min-width: 320px;
    flex: 1;
    color: rgba(27, 27, 27, 0.818);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.section__header {
    position: relative;
    font-size: 36px;
    color: rgb(174, 197, 250);
}

.section__header span {
    color: rgba(27, 27, 27, 0.818);
}

.about__text p {
    font-weight: 600;
    max-width: 600px;
}

.about__text__bold {
    font-size: 18px;
    font-weight: bold;
}


.section__header::after {
    width: 250px;
    max-width: 30vw;
    height: 2px;
    margin-left: 10px;
    top: 50%;
    background-color: var(--blue-color);
    content: "";
    position: absolute;
    transition: 0.2s ease-out;
}


.about__list {
    height: 80px;
    gap: 1em;
    max-width: 300px;
    flex-wrap: wrap;
    padding-left: 1em;
    display: flex;
    flex-direction: column
}

.about__list li {
    color: var(--blue-color)
}

.about__list span {
    color: black;
}