header {
    display: flex;
    flex-direction: column;
    z-index: 9999;
    position: fixed;
    transition: .2s ease-in;
}


.nav__hidden {
    transform: translateY(-80px);
    transition: .2s ease-in;
}

.main__nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    align-items: center;
    background-color: rgb(18, 30, 39);
    height: 80px;
}

nav {
    display: flex;
    align-items: center;
}

.name__container,
.nav__text {
    color: white;
}

.name__container {
    font-size: 1.5rem;
    cursor: pointer;
}

.nav__text {
    position: relative;
}

.name__span,
.nav__number {
    color: var(--blue-color);
}

nav ul,
.dropdown__menu ul {
    display: flex;
    list-style: none;
    gap: 1.6em;
}

nav ul {
    gap: 2.5em;
}

nav ul li,
.dropdown__menu ul li {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 0.2em;
}

nav ul li::after,
.dropdown__menu ul li::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: var(--blue-color);
    left: 0;
    right: 0;
    top: 22px;
    bottom: 0;
    width: 0%;
    transition: 0.3s;
}

nav ul li:hover::after,
.dropdown__menu ul li:hover::after {
    width: 100%;
}

.dropdown__menu ul {
    align-items: center;
    flex-direction: column;
}

.dropdown__menu ul li {
    width: fit-content;
}

.dropdown__menu {
    padding: 1.5em;
    transition: 0.2s;
    transform: scale(0);
    position: fixed;
    top: 3.8em;
    z-index: 9999;
    width: 100%;
    background-color: rgb(18, 30, 39);
}



.nav__toggle {
    display: none;
    width: 35px;
    height: 30px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.nav__burger {
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background: #ffffff;
    transition: all 0.1s ease-in-out;
}


.nav__burger::before,
.nav__burger::after {
    content: "";
    position: absolute;

    width: 30px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.nav__burger::before {
    transform: translateY(-8px);
}

.nav__burger::after {
    transform: translateY(8px);
}

.main__nav.active .nav__toggle .nav__burger {
    transform: translateX(-50px);
    background: transparent;
}

.main__nav.active .nav__toggle .nav__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.main__nav.active .nav__toggle .nav__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}


@media screen and (min-width:820px) {
    .dropdown__menu {
        display: none;
    }
}

@media screen and (max-width:820px) {
    .nav__header.active .dropdown__menu {
        display: flex;
        flex-direction: column;
        transform: scale(1);
        gap: 1.5em;
    }

    .nav__toggle {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        display: none;
    }
}